flow2.py
[{"id":"b2b52b0e.ec89a8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"c00151e.b9c6ab","type":"http in","z":"b2b52b0e.ec89a8","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["2f7bee1b.294d42","30e9329b.86949e"]]},{"id":"2f7bee1b.294d42","type":"function","z":"b2b52b0e.ec89a8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["24412264.21d43e"]]},{"id":"24412264.21d43e","type":"rpi-gpio out","z":"b2b52b0e.ec89a8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":450,"y":340,"wires":[]},{"id":"30e9329b.86949e","type":"function","z":"b2b52b0e.ec89a8","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":400,"wires":[["f0c4d37d.c353f","d7b5d94b.f78d58"]]},{"id":"f0c4d37d.c353f","type":"http response","z":"b2b52b0e.ec89a8","name":"","statusCode":"","headers":{},"x":620,"y":440,"wires":[]},{"id":"d7b5d94b.f78d58","type":"debug","z":"b2b52b0e.ec89a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":540,"wires":[]},{"id":"96fdf71d.292e28","type":"http in","z":"b2b52b0e.ec89a8","name":"clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":440,"wires":[["b74ef883.c77898","8e497c28.fc808"]]},{"id":"b74ef883.c77898","type":"function","z":"b2b52b0e.ec89a8","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["24412264.21d43e"]]},{"id":"8e497c28.fc808","type":"function","z":"b2b52b0e.ec89a8","name":"Return Status","func":"msg.payload = \"GPIO5 set to Low\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":600,"wires":[["f0c4d37d.c353f","d7b5d94b.f78d58"]]}]
